<section class="waitlist">

<h2>Join the WellBee Waiting List</h2>
<p>Be the first to know when WellBee launches.</p>

<form action="https://well-bee.us16.list-manage.com/subscribe/post?u=a35d8b92b22cd2856cc48caf7&amp;id=2c863d2a6b"
      method="post"
      target="_blank"
      class="waitlist-form">

<input type="email" name="EMAIL" placeholder="Email address" required>

<label>
<input type="checkbox" name="gdpr[28419]" value="Y" required>
I consent to receive WellBee updates.
</label>

<input type="submit" value="Join Waitlist">

</form>

</section>
